{% extends "base.html" %}
{% set active_page = "cookie_policy" %}
{% set active_page_title = _("Cookie and Data Policy") %}

{% block content %}
		<div class="container">
			<div class="row col-md-12">
				<h1>Data Collection on GeoTag-X</h1>
				<p>When you browse any website you leave behind a trail of data about what pages you visit and how long you spend on them. This data is often collected by site managers using systems such as Google Analytics to get a better idea of how people interact with their site and to inform improvements.</p>
				<p>GeoTag-X are using Google Analytics in order to gather detailed statistics about the website's traffic, along with the system's and user’s behaviour. This information allows us to:<br>

					(1) evaluate our technology, and continue improving it.<br>

					(2) <a href="http://citizencyberlab.eu/">understand what people learn about science from participating in such initiatives, and how we might improve the learning experience in the future</a>.<br></p>

				<p>All information regarding the user’s and the system’s behaviour is gathered anonymously and processed using Google Analytics. Following the Google Analytics terms of service, we do not track, collect or upload any data that personally identifies an individual (such as your name or email).</p>

				<p>Additionally, we use the <a href="https://support.google.com/analytics/answer/2799357?hl=en">demographic and interest information feature in Google Analytics</a>. This provides us with statistics about the age, gender, location and interests of users. By using this information we aim to characterize the common user profile behind citizen participation and make sure that citizens from all ages, gender, and nationalities have the same opportunity to participate as a citizen scientist. For example, in our last event <a href="https://test4theory.cern.ch/challenge/">(CERN 60 Public computing challenge)</a> we learnt that translations are extremely important for allowing the participation of a wider range of nationalities. Citizen science cannot assume English as a main language as it is in science. Additionally, we found a very low percentage of female participants (9% female vs 91% male). Based on this we are preparing a set of actions in order to increase the female participation in coming events.</p>
				<p>We may also ask you some questions via pop-up surveys or similar. Information collected via these surveys is stored locally, not shared with third parties and used exclusively for research proposed under the <a href="http://citizencyberlab.eu/">Citizen Cyberlab EU project</a>.</p>

				<h1>How GeoTag-X uses cookies</h1>
            <p>A cookie is a small piece of text sent to your browser by a website you visit. It helps the website to remember information about your visit, like your preferred language and other settings. That can make your next visit easier and the site more useful to you. Cookies play an important role. Without them, using the web would be a much more frustrating experience.</p>
            <p>In the following video from Google,  you can see a very good explanation about how cookies work:</p>
            <iframe width="560" height="315" src="//www.youtube.com/embed/TBR-xtJVq7E" frameborder="0" allowfullscreen=""></iframe>

        <h2>Disabling cookies</h2>
        <p>However, if you want to disable the cookies in this site or other, we recommend you check the help section of your web browser so you can disable them.</p>

		<h2>Opting-out of Google Analytics and Demographics</h2>
		<p>In case you do not want Google to share anonymous demographics information about you, it is possible to <a href="https://www.google.com/settings/ads">opt-out </a>.
		If you do not want Google Analytics collecting your data while you browse the internet you can also install the <a href="https://tools.google.com/dlpage/gaoptout">Google Analytics opt-out browser add-on</a>.
		</p>
		</div>
	</div>
 {% endblock %}
