{% extends "base.html" %}
{% set active_page = "license" %}
{% set active_page_title = "Licensing" %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <section id="overview">
            <h1><strong>{{brand}}</strong>: Licenses</h1>
            <p>
            <strong>{{brand}}</strong> uses the free and open source framework
            <a href="http://dev.pybossa.com">PyBossa</a> which is released under the
            <a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU Affero general public license version 3.0</a>.
            </p>

            <p>
            The source code is hosted in <a href="http://github.com/PyBossa/pybossa">Github</a>.
            </p>
        </section>
        <hr>
        <section id="applications">
            <h1>Applications</h1>
            <p>
            Most of the projects are licensed <a target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0</a>
            </p>
            <p>
            Bear in mind that some will have a different open source license,
            so check the application description page for more details about the license or
            contact the creators of the application.
            </p>
        </section>
        <hr>
        <section id="data">
            <h1>Data</h1>
            <p>
            All the generated data by the volunteers are, unless otherwise stated,
            under the <a href="http://opendatacommons.org/licenses/odbl/">Open Data Commons License</a>. Check the description
            the application's page for further details about which license is going
            to be applied.
            </p>
        </section>
        <hr>
        <section id="content">
            <h1>General Content</h1>
            <p>
            All the General Content of the page is under a <a target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0</a>.
            </p>
        </section>

    </div>
</div>
{% endblock %}
