{% macro render_project_local_nav(project, active_link, current_user) -%}
<ul data-spy="affix" data-offset-top="200px" class="nav nav-list bs-docs-sidenav affix-top">
	<li {% if active_link=="info"%}class="active"{% endif %}><a href="{{url_for('project.details', short_name=project.short_name)}}"><i class="icon-chevron-right"></i> {{_('Info')}}</a></li>
	<li {% if active_link=="contribute"%}class="active"{% endif %}><a href="{{url_for('project.presenter', short_name=project.short_name)}}"><i class="icon-chevron-right"></i> {{_('Contribute')}}</a></li>
	<li {% if active_link=="tasks"%}class="active"{% endif %}><a href="{{url_for('project.tasks', short_name=project.short_name)}}"><i class="icon-chevron-right"></i> {{_('Tasks')}}</a></li>
	<li {% if active_link=="stats"%}class="active"{% endif %}><a href="{{url_for('project.show_stats', short_name=project.short_name)}}"><i class="icon-chevron-right"></i> {{_('Statistics')}}</a></li>
	{% if ( current_user.is_authenticated() and current_user.id == project.owner_id ) or current_user.admin %}
	<li {% if active_link=="settings"%}class="active"{% endif %}><a href="{{url_for('project.settings', short_name=project.short_name)}}"><i class="icon-chevron-right"></i> {{_('Settings')}}</a></li>
	{% endif %}
	{% if ( current_user.is_authenticated() and current_user.id == project.owner_id
	and current_user.pro) or current_user.admin %}
	<li {% if active_link=="auditlog"%}class="active"{% endif %}><a
		href="{{url_for('project.auditlog', short_name=project.short_name)}}"><i
	class="icon-chevron-right"></i> {{_('Audit Logs')}}</a></li>
	{% endif %}
	<li {% if active_link=="blog"%}class="active"{% endif %}><a href="{{url_for('project.show_blogposts', short_name=project.short_name)}}"><i class="icon-chevron-right"></i> {{_('Blog')}}</a></li>
</ul>
{% endmacro %}

{% macro render_project_summary(project, n_tasks, overall_progress, last_activity, current_user, upload_method) -%}
<div class="row-fluid">
	<div class="span2">
		{{ render_project_thumbnail(project, upload_method, class='img-polaroid') }}
	</div>
	<div class="span8">
		<ul style="list-style-type: none; font-size: 16px;">
		{% if current_user.id == project.owner_id %}
		<li><strong><i class="icon-cog"></i> {{ _('ID') }}</strong>: {{ project.id }}</li>
		{% endif %}
		<li><strong><i class="icon-info-sign"></i> {{ _('Description') }}</strong>: {{ project['description'] }}</li>
		<li><strong><i class="icon-ok"></i> {{ _('Creation Date') }}</strong>: {{ project.created[0:10] }}</li>
		<li><strong><i class="icon-time"></i> {{ _('Last Activity') }}</strong>: {{ last_activity}}</li>
		<li><strong><i class="icon-cogs"></i> {{ _('Overall progress') }}</strong>: {{ overall_progress | round | int }}% {{ _('completed') }}</li>
		<li><strong><i class="icon-tasks"></i> <a href="{{url_for('project.tasks',short_name=project.short_name)}}">{{ _('Tasks') }}</strong></a> ({{ n_tasks }})</li>
		</ul>
	</div>
</div>
{% endmacro %}

{% macro render_project_short_summary(project, upload_method) -%}
<div class="row-fluid well well-small">
	<div class="span3">
		{{ render_project_thumbnail(project, upload_method, class="img-polaroid", style="max-width:100px") }}
	</div>
	<div class="span9">
		<h2><a href="{{url_for('project.settings', short_name=project.short_name)}}">{{project.name}}</a></h2>
		<p>{{ project['description'] }}</p>
		<a class="btn btn-inverse" href="{{url_for('project.settings', short_name=project.short_name)}}"><i class="icon-wrench"></i> {{ _('Settings') }}</a>
	</div>
</div>
{% endmacro %}

{% macro render_project_admin_featured(project, upload_method) -%}
<div class="row-fluid well well-small">
	<div class="span3">
		{{ render_project_thumbnail(project, upload_method, class="img-polaroid", style="max-width:100px") }}
	</div>
	<div class="span9">
		<h2><a href="{{url_for('project.settings', short_name=project.short_name)}}">{{project.name}}</a></h2>
		<p>{{ project['description'] }}</p>
		<a class="btn btn-inverse" href="{{url_for('project.settings', short_name=project.short_name)}}"><i class="icon-wrench"></i> {{ _('Settings') }}</a>
		{% if project.featured %}
		<button id="projectBtnDel{{project.id}}" class="btn btn-danger" onclick="del({{project.id}})">
			<i id="project{{project.id}}" class="icon-remove"></i> {{ _('Remove from Featured!') }}
		</button>
		<button id="projectBtnAdd{{project.id}}" class="btn btn-primary" onclick="add({{project.id}})" style="display:none;">
			<i id="project{{project.id}}" class="icon-plus"></i> {{ _('Add to Featured!') }}
		</button>
		{% else %}
		<button id="projectBtnAdd{{project.id}}" class="btn btn-primary" onclick="add({{project.id}})">
			<i id="project{{project.id}}" class="icon-plus"></i> {{ _('Add to Featured!') }}
		</button>
		<button id="projectBtnDel{{project.id}}" class="btn btn-danger" onclick="del({{project.id}})" style="display:none;">
			<i id="project{{project.id}}" class="icon-remove"></i> {{ _('Remove from Featured!') }}
		</button>
		{% endif %}
	</div>
</div>
{% endmacro %}


{% macro show_project(project, active_cat, current_user, upload_method) %}
<div class="project-item row-fluid {{class}} well">
	<h2><a href="{{ url_for('project.details', short_name = project.short_name) }}">{{ project.name }}</a></h2>
	<div class="row-fluid">
		<div class="span3">
			{{ render_project_thumbnail(project, upload_method, class='thumbnail', style='max-width:100px; max-height:100px;') }}
		</div> <!-- End of span3 -->
		<div id="data" class="span9">
			<p style="margin:0"><strong><i class="icon-info-sign"></i> {{ _('Description') }}</strong>: {{ project.description }}</p>
			<p style="margin:0"><strong><i class="icon-ok"></i> {{ _('Creation Date') }}</strong>: <span class="date">{{ project.created[0:10] }}</span></p>
			{% if project.last_activity_raw != None %}
			<p style="margin:0"><strong><i class="icon-time"></i> {{ _('Last Activity') }}</strong>: {{ project.last_activity}}</p>
			<span class="activity" style="display:none;">{{project.last_activity_raw}}</span>
			{% endif %}
			<p style="margin:0"><strong><i class="icon-cogs"></i> {{ _('Overall progress') }}</strong>: <span class="progress">{{ project.overall_progress | round | int }}</span>% completed</p>
			{% if project.owner == current_user.fullname %}
			<p style="margin:0"><strong><i class="icon-user"></i> {{ _('Created by') }}</strong>: {{ _('Me') }}</p>
			{% else %}
			<p style="margin:0"><strong><i class="icon-user"></i> {{ _('Created by') }}</strong>: {{ project.owner }}</p>
			{% endif %}
			{% if active_cat != "draft" %}
			<p style="margin:0"><a class="btn btn-primary" href="{{ url_for('project.presenter', short_name = project.short_name) }}"><i class="icon icon-white icon-ok"></i> {{ _('Try it!') }}</a></p>
			{% endif %}
		</div> <!-- end of id=data class=span8 -->
	</div> <!--end of class=row -->
</div><!-- end of class=row -->
{%- endmacro %}

{% macro broken_image() %}
<script>
function imgError(image) {
	image.onerror = "";
	image.src = "{{url_for('static', filename='img/placeholders/project.png')}}";
	if (arguments[1] === 'user') {
		image.src = "{{url_for('static', filename='img/placeholders/user.png')}}";
	}
	return true;
}
</script>
{% endmacro %}

{% macro knob(val) %}
<script src="{{url_for('static', filename='js/vendor/jquery.knob.js')}}"></script>
<script>
	$(function() {
		$(".dial").knob({
			'min': 0,
			'max': 100,
			'skin': 'tron',
			'fgColor': '#8bbf36',
			'inputColor': '#8bbf36',
			'readOnly': true,
			'thickness': .2,
			'width': 40,
			'height': 40,
			'displayInput': false,
		});
		$(".dial").css('font-size', '26px');
		$(".dial").css('font-weight', 'bold');
	});
</script>
{% endmacro %}


{% macro render_overall_progress(project, n_tasks, overall_progress, show_contribute_btn=True, show_n_tasks=False) %}
<div class="row-fluid">
	<div class="span1"><input type="text" value="{{overall_progress | round |int}}" class="dial"></div>
	<h2><strong> {{_('Overall progress')}}</strong>: {{ overall_progress | round | int }}% {{_('completed')}}
		{% if show_contribute_btn %}
		<a href="{{ url_for('project.presenter', short_name=project.short_name)}}" class="btn btn-primary pull-right"><i class="icon-thumbs-up" style="color:white;"></i> {{ _('Start Contributing Now!') }}</a>
		{% elif show_n_tasks %}
		<span class="pull-right"><strong>{{n_tasks}}</strong> {{_('Tasks')}}</span>
		{% endif %}

	</h2>
</div>
{% endmacro %}

{% macro render_grid_projects(projects, title, upload_method) %}
	<div class="banner">
		<div class="row-fluid">
			<div class="span4">
				<h1>{{title}}</h1>
			</div>
			<div class="span8">
				<ul class="featured">
					{% for project in projects %}
					<li><a href="{{ url_for('project.details', short_name=project.short_name)}}">
						{{ render_project_thumbnail(project, upload_method, class='img-polaroid', style="min-height:100px; min-width:100px;")}}
						<h3>{{project.name}}</h3>
						<span class="label label-info">{{ _('Info') }}</span>
						</a>
					</li>
					{% endfor %}
					{% for number in range(18 - projects |count) %}
					<li></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endmacro %}


{% macro render_project_profile(project, upload_method , owner, n_tasks, n_task_runs, overall_progress, last_activity, n_completed_tasks, n_volunteers, current_user, subpage) %}
<div id="project-profile" data-short-name="{{ project.short_name }}" class="container">
		<div class="row" id="project_menu">
			<a href="{{url_for('project.show_blogposts', short_name=project.short_name)}}" class="btn btn-purchase pull-right profile-menu-buttons">
				<i class="fa fa-pencil-square-o"></i>
				{{ _('Blog') }}
			</a>
			{% if ( current_user.is_authenticated() and current_user.id == project.owner_id
			and current_user.pro) or current_user.admin %}
				{% set privileged_user = True %}
			{% endif %}

			{% if privileged_user %}
				<a href="{{url_for('project.auditlog', short_name=project.short_name)}}" class="btn btn-purchase pull-right profile-menu-buttons">
					<i class="fa fa-file-text-o"></i>
					{{ _('Audit Logs') }}
				</a>
			{% endif %}
			{% if privileged_user %}
				<a href="{{url_for('project.settings', short_name=project.short_name)}}" class="btn btn-purchase pull-right profile-menu-buttons">
					<i class="fa fa-wrench"></i>
					{{ _('Settings') }}
				</a>
			{% endif %}
			<a href="{{url_for('project.show_stats', short_name=project.short_name)}}" class="btn btn-purchase pull-right profile-menu-buttons">
				<i class="fa fa-bar-chart"></i>
				{{ _('Statistics') }}
			</a>
			<a href="{{url_for('project.details', short_name=project.short_name)}}tutorial" class="btn btn-purchase pull-right profile-menu-buttons">
				<i class="fa fa-graduation-cap"></i>
				{{ _('Tutorial') }}
			</a>
			<a href="{{url_for('project.tasks', short_name=project.short_name)}}" class="btn btn-purchase pull-right profile-menu-buttons">
				<i class="fa fa-book"></i>
				{{ _('Tasks') }}
			</a>
			<a href="{{url_for('project.details', short_name=project.short_name)}}" class="btn btn-purchase pull-right profile-menu-buttons">
				<i class="fa fa-info"></i>
				{{ _('Info') }}
			</a>
		</div>
		{% if request['path' ] != "/project/"+project.short_name+"/tutorial" and request['path' ] != "/project/"+project.short_name+"/newtask" %}
			<div class="row">
				<div id="profile_page_accordion" class="col-md-12 col-sm-12 col-lg-12 profile_param" data-collapse>
				<h1 class="profile_param_accordion_handle">
				<a href="#" class="profile_param_link">
					{{ project.name }}
				</a>
				<div class="profile_param_sublabel">
				</div>
				<hr>
				</h1>
				<div class="accordion-container">
				<div class="col-lg-4 col-sm-4 text-center wow fadeInLeft animated" data-wow-animation-name="none" style="visibility: visible; -webkit-animation-name: none;">
					<a href="#">
						{{render_project_thumbnail(project, upload, class="img-circle col-md-12")}}
					</a><br/><br/>
					{{project.description}}
				</div>
				<div class="col-lg-8 col-sm-8 wow fadeInRight animated" data-wow-animation-name="none" style="visibility: visible; -webkit-animation-name: none;">
					<div class="col-lg-6 col-sm-6">
						<h3>
						<i class="fa fa-book fa-lg pr-10">
						</i>
						<i></i>  <strong class="project-profile-values">{{ n_tasks }}</strong><strong class="project-profile-labels"><a href="{{url_for('project.tasks', short_name=project.short_name)}}">{{ _('Tasks')}}</a></strong></h3>
						<h3>
						<i class="fa fa-users fa-lg pr-10">
						</i>
						<i></i>  <strong class="project-profile-values">{{ n_volunteers }}</strong><strong class="project-profile-labels">{{ _('Volunteers') if n_volunteers != 1 else _('Volunteer')}}</strong></h3>
						<h3>
						<i class="fa fa-check-square-o fa-lg pr-10">
						</i>
						<i></i>  <strong class="project-profile-values">{{ n_completed_tasks }}</strong><strong class="project-profile-labels">{{ _('Tasks Completed')}}</strong></h3>
						<h3>
						<i class="fa fa-briefcase fa-lg pr-10">
						</i>
							{% if not n_tasks %}
								{% set n_tasks = 0 %}
							{% endif %}

							{% if not n_completed_tasks %}
								{% set n_completed_tasks = 0 %}
							{% endif %}
						<i></i>  <strong class="project-profile-values">{{ n_tasks - n_completed_tasks }}</strong><strong class="project-profile-labels">{{ _('Pending Tasks')}}</strong></h3>

						{% if privileged_user %}
						<h3>
						<i class="fa fa-eye fa-lg pr-10">
						</i>
						<i></i>  <strong class="project-profile-values">{{ _('Not Visible to Others') if project.hidden else _('Visible to Others') }}</strong><strong class="project-profile-labels"></strong></h3>
						<h3 style="display:inline">
						<i class="fa fa-calendar fa-lg pr-10">
						</i></h3><h4 style="display:inline">
						<i></i> <strong class="project-profile-labels" style="margin-right:5px">{{_('created on')}}</strong>  {{ project.created[0:10] }}</h4>
						<br/><br/>
						<h3 style="display:inline">
						<i class="fa fa-history fa-lg pr-10">
						</i></h3><h4 style="display:inline">
						<i></i> <strong class="project-profile-labels" style="margin-right:5px">{{_('last activity on')}}</strong>  {{ project.updated[0:10] }}</h4>
						{% else %}
						<br/><br/><br/>
						{% endif %}
					</div>
					<div class="col-lg-6 col-sm-6">
						<br/>
						<a class="start-contributing noselect"  href="{{url_for('project.presenter', short_name=project.short_name)}}">
							<center>
							<i class="fa fa-play big-icon-10"></i>
							<br/>
							<div class="start-contributing-text">Start Contributing</div>
							</center>
						</a>
						<br/><br/><br/>
						<br/>
						<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="{{overall_progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{overall_progress}}%;">
						</div>
						</div>
						<center><h5 style="color:#48cfad;font-size:28px;">{{overall_progress}}%<h5> complete</center>
					</div>
				</div>
				</div>
			</div>
			</div>
		{% endif %}
		</div>
		<script type="text/javascript">
		$(document).ready(function(){
		{% if request.path == "/project/"+ project.short_name+"/" or request.path.startswith("/geotagx/project/"+ project.short_name+"/")  %}
			$("#profile_page_accordion").accordion({active:0, collapsible:true, icons : { "header": "fa fa-plus-circle", "activeHeader": "fa fa-minus-circle" }});
		{% else %}
			$("#profile_page_accordion").accordion({active:false, collapsible:true, icons : { "header": "fa fa-plus-circle", "activeHeader": "fa fa-minus-circle" }});
		{% endif %}
		});
		</script>
{% endmacro %}


{% macro render_project_sublabel(sublabel) %}
<script type="text/javascript">
	$(document).ready(function(){
		$(".profile_param_sublabel").html("{{sublabel}}");
	});
</script>
{% endmacro %}


<!-- TO-DO : Use this macro for rendering urls in front_page_grid  -->
{% macro render_category_image(category_short_name) %}
{% set category_image_dict = {
	'somalidrought':'/static/img/projects/categories/somali_drought.png',
	'yamunamonsoonflooding2013':"/static/img/projects/categories/yamuna_monsoon_flooding.png",
	'yemeniculturalheritageatrisk':"/static/img/projects/categories/yemeni_agricultural_water_assesment.png",
	'ebolaresponse':"/static/img/projects/categories/ebola_response.png",
	'emergencyshelterassessmentinthemiddleeast':"/static/img/projects/categories/winter_shelter.png"
} %}
{% if category_short_name in category_image_dict.keys() %}
	{{ category_image_dict[category_short_name] }}
{% else %}
	#
{% endif %}

{% endmacro %}

{% macro render_category_profile(category, pagination) %}
<div class="container" id="category-profile" data-short-name="{{ category.short_name }}">
	<div class="row">
		<div class="col-lg-4 col-sm-4 text-center wow fadeInLeft animated" data-wow-animation-name="none" style="visibility: visible; -webkit-animation-name: none;">
			<div class="img-circle col-md-12 col-lg-12 col-sm-12">
				<a href="#"><img src="{{ render_category_image(category.short_name) }}" style="width:100%;border-radius:10px;margin-top:40px"></img></a>
			</div>
		</div>
		<div class="category_details col-lg-8 col-sm-8 wow fadeInRight animated" data-wow-animation-name="none" style="visibility: visible; -webkit-animation-name: none;">
			<h1><a href="#" style="color:white;">{{ category.name }}</a></h1>
			<hr>
			<div style="text-align: justify;text-justify: inter-word;">{{ category.description | safe }}</div>
			<strong>Total Number of Projects: </strong> <span class="big-icon-2" style="margin-left:10px"> {{ pagination.total_count }}</span>
			<div style="font-size:1.5em; margin-top:0.5em">{{render_share_buttons("category", request.url)}}</div>
		</div>
	</div>
	<a href="{{url_for('geotagx-geojson-exporter.export_category_results', category_short_name=category.short_name)}}" class="btn btn-purchase pull-right" style="margin-left:10px"><i class="fa fa-globe"></i> Export Summary as GeoJSON </a>
	<a href="{{url_for('geotagx.map_summary', category_name=category.short_name)}}" class="btn btn-purchase pull-right" style="margin-left:10px"><i class="fa fa-map"></i> Visualize Summary on Map </a>
	<a href="/about#find_photos" class="btn btn-purchase pull-right"><i class="fa fa-binoculars"></i> Find photos for this Project </a>
</div>
{% endmacro %}
