{% extends "projects/base.html" %}
{% set active_page = "project_blog" %}
{% set active_page_title = _("Blog") %}
{% set active_page_subtitle = _("Stay up-to-date with this project.") %}

{% block main_content %}
{{ helper.render_project_sublabel("Blog") }}
<div class="row blogs">
    {% if project %}
    <div class="span9" style="min-height:400px">
        {{ helper.render_project_title(project, upload_method) }}
        <hr>
        {% if blogposts %}
        <hr>
            <ul>
                {% for blogpost in blogposts %}
                    <li>
                        <div>
                            <a href="{{url_for('project.show_blogpost', short_name=project.short_name, id=blogpost.id)}}">{{ blogpost.title }}</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h1>{{ _('Sorry! No posts so far.') }}</h1>
        {% endif %}
        <hr>
    </div>
    {% else %}
    <div class="page-header">
        <h1>{{ _('Sorry! This project does not exist.') }}</h1>
    </div>
    {% endif %}
</div>
{{ helper.broken_image() }}
{{ helper.knob() }}
{% endblock %}
