{% extends "projects/base.html" %}
{% set page_id = "project-category" %}
{% set page_title = active_cat.name %}
{% set breadcrumbs = [(_("Projects"), url_for("geotagx-project-browser.index"))] %}
{% set special_category = active_cat.short_name in ["featured", "draft"] %}
{% set enable_share_page = projects and active_cat.short_name != "draft" %}

{% block stylesheet %}
<style>
.heading {
	margin:0 0 0.75em 0;
	padding:0;
	font-size:1.25em;
	font-weight:700;
	letter-spacing:2px;
	text-transform:uppercase;
}
#category-share {
	font-size:1.25em;
	margin-top:0.25em;
	padding:0;
}
#page-body {
	padding-top:0;
	padding-bottom:0;
}
#page-body > .row {
	padding-top:1em;
	padding-bottom:1em;
}
#category-description {
	font-size:1.05em;
}
#no-projects {
	font-size:1.5em;
	font-weight:700;
	margin:2em 0 0;
}
#category-projects {
	color:#DDD;
	background:#2E3D49;
}
#category-projects .heading {
	margin:0;
}
#category-data {
	background:#EEF2F5;
}
</style>
{% endblock %}


{% block body_content %}
{% if not special_category %}
	{% call bootstrap.row(row_id="category-description") %}
	<div class="row">
		<div class="col-xs-12">{{active_cat.description | safe}}</div>
	</div>
	{% endcall %}
{% endif %}

{% if not projects %}
	<p id="no-projects">{{_("Sorry, there are no projects assigned to this category yet.")}}</p>
{% else %}
	{% call bootstrap.row(row_id="category-projects") %}
	<header><h1 class="heading">{{_("Projects")}}</h1></header>
	<div class="grid row">
		{% for project in projects %}
		<div class="grid-slot col-xs-12 col-md-4 col-lg-4">{{project_helper.render_project_tile(project, show_admin_actions=current_user.is_authenticated() and (current_user.admin or current_user.id == project.owner_id))}}</div>
		{% endfor %}
	</div>
	{% if pagination.pages > 1 %}{{project_helper.render_pagination(pagination)}}{% endif %}
	{% endcall %}
{#
	{% if not special_category %}
		{% call bootstrap.row(row_id="category-data") %}
			<header><h1 class="heading">{{_("Aggregated Data")}}</h1></header>
			<div id="summary-map"></div>
			<button class="btn btn-lg btn-cta" href="{{url_for('geotagx.map_summary', category_name=active_cat.short_name)}}">{{_("Visualize Data")}}</button>

			<ul id="category-menu" class="nav nav-stacked">
				<li><a class="btn btn-block btn-lg btn-cta" href="{{url_for('geotagx.map_summary', category_name=active_cat.short_name)}}">{{_("Visualize Summary")}}</a></li>
				<li><a class="btn btn-block btn-cta" href="{{url_for('geotagx-geojson-exporter.export_category_results', category_short_name=active_cat.short_name)}}">{{_("Export Summary")}}&nbsp;(GeoJSON)</a></li>
			</ul>
		{% endcall %}
	{% endif %}
#}
{% endif %}
{% endblock %}
