{% extends "projects/base.html" %}
{% set active_page = "contribute" %}
{% set active_page_title = _("Contribute") %}
{% set active_page_subtitle = _("Help us analyse the project.") %}
{% set project_completed = project.completed or invite_new_volunteers %}

{% block stylesheet %}
{{super()}}
<link rel="stylesheet" href="{{css}}/projects/presenter-base.css">
<link rel="stylesheet" href="{{css}}/projects/presenter-questionnaire.css">
<link rel="stylesheet" href="{{css}}/projects/presenter-subject.css">
<link rel="stylesheet" href="{{css}}/projects/presenter-subject-image.css">
<link rel="stylesheet" href="{{css}}/projects/presenter-subject-pdf.css">
{# Once the stylesheets above are a bit more stable, they will be concactenated and minified to form a single presenter.min.css. #}
<link rel="stylesheet" href="{{css}}/projects/presenter.min.css">
{% endblock %}


{% block header %}
{{super()}}
{% call bootstrap.render_container(id="project-statistics") %}
<hr class="divider">
<div class="row">
	<div class="col-xs-12">
		<div id="share-project">{{helper.render_project_share_buttons(project)}}</div>
		{% if not project_completed and current_user.is_anonymous() %}
		<div id="anonymous-notification">
			<p id="anonymous-notification-message">{{_("You are contributing to this project anonymously and will not get any credit for your work.")}}</p>
			<ul class="list-inline">
				<li><a id="anonymous-sign-in" class="btn btn-lg btn-primary call-to-action" href="{{url_for('account.signin')}}?next={{request.path}}">{{_("Sign In")}}</a></li>
				<li><button type="button" id="remind-me-later" class="btn btn-lg btn-default call-to-action" disabled>{{_("Remind Me Later")}}</button></li>
			</ul>
		</div>
		{% endif %}
	</div>
</div>
{% endcall %}
{% endblock %}


{% block main_content %}
<div id="task-presenter" class="row">
	{% if project_completed %}
	<div class="col-xs-12">
		<h3>{{_("Thank you for showing an interest in this project.")}}</h3>
		{% if project.completed %}
		<div>
			<p>{{_("All available analyses have been successfully completed.")}}</p>
			<a id="export-results" class="btn btn-lg btn-primary" href="{{url_for('project.export_to', short_name=project.short_name)}}">{{_("Export Results")}}</a>
		</div>
		{% else %}
		<div>
			<p>{{_("You have successfully completed all available analyses however we still need more volunteers to contribute.")}}<br>{{_("Help us spread the word by sharing the project!")}}</p>
		</div>
		{% endif %}
	</div>
	{% else %}
	{% from "projects/helpers/_presenter.html" import render_questionnaire, render_subject %}
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12 col-lg-7">{{render_subject()}}</div>
			<div class="col-xs-12 col-lg-5">{{render_questionnaire()}}</div>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}


{% block script %}
{%- if not project_completed %}
<script>
(function(geotagx){
	"use strict";
	geotagx.project = geotagx.project || {};
	geotagx.project.shortName = "{{project.short_name}}";
	geotagx.project.configuration = Object.freeze({{project.info.task_presenter | safe}});
})(window.geotagx = window.geotagx || {});
</script>
<script src="{{url_for('static', filename='js/pybossa/pybossa.js')}}" defer></script>
<script src="{{vendor}}/marked/marked.min.js" defer></script>
<script src="{{vendor}}/vue/dist/vue.min.js" defer></script>
<script src="{{js}}/projects/presenter/base.js" defer></script>
<script src="{{js}}/projects/presenter/components/base.js" defer></script>
<script src="{{js}}/projects/presenter/components/input/polar.js" defer></script>
<script src="{{js}}/projects/presenter/components/input/dropdown-list.js" defer></script>
<script src="{{js}}/projects/presenter/components/input/multiple-choice.js" defer></script>
<script src="{{js}}/projects/presenter/components/input/text.js" defer></script>
<script src="{{js}}/projects/presenter/components/input/number.js" defer></script>
<script src="{{js}}/projects/presenter/components/input/datetime.js" defer></script>
<script src="{{js}}/projects/presenter/components/input/url.js" defer></script>
<script src="{{js}}/projects/presenter/components/input/geotagging.js" defer></script>
<script src="{{js}}/projects/presenter/components/subject/image.js" defer></script>
<script src="{{js}}/projects/presenter/components/subject/pdf.js" defer></script>
<script src="{{js}}/projects/presenter/components/question.js" defer></script>
<script src="{{js}}/projects/presenter/questionnaire.js" defer></script>
<script src="{{js}}/projects/presenter/subject.js" defer></script>
{# TODO Once the scripts above are a bit more stable, they should be concatenated and minified to form a single presenter.min.js. #}
<script src="{{js}}/projects/presenter.min.js" defer></script>
{% endif -%}
{% endblock %}
