{% extends "projects/base.html" %}
{% set active_page = "about_the_project" %}
{% set active_page_title = project.name %}
{% set active_page_subtitle = project.description %}

{% block header %}
{{super()}}
{% if project and project.short_name != "geotagxblog" %}
    {% call bootstrap.render_container(id="project-synopsis") %}
        {{helper.render_project_profile(project, upload_method, owner, n_tasks, n_task_runs, overall_progress, last_activity, n_completed_tasks, n_volunteers, current_user)}}
    {% endcall %}
{% endif %}
{% endblock %}


{% block main_content %}
<div class="row">
    {% if project %}
    <div id="project-info" style="min-height:400px">
        <h2>
            <span style="color:#444E67">{{project.name}}&nbsp;<small style="text-transform:uppercase">{{_('About')}}</small></span>
            <span class="pull-right" style="font-size:0.55em">{{helper.render_project_share_buttons(project)}}</span>
        </h2>
        {% if project.long_description %}
        <div style="padding:1em 0 0.5em 0; border-bottom:1px solid #EEE">
            {{project.long_description | e | markdown}}
        </div>
        {% endif %}
        <div id="ckan" style="display:none">
        <h2>Data repository: {{ ckan_name | default('CKAN server') }}</h2>
        <p><i class="icon-bar-chart" style="font-size:16px;"></i> <a href="{{ckan_url}}/dataset/{{project.short_name}}">Preview the data</a>
        </p>
        <p id="ckan_license" style="display:none"><strong>Data License</strong>: <span id="ckan_license_value"></span></p>
        </div>
    </div>
    {% else %}
    <div class="page-header">
        <h1>{{ _('Sorry! This project does not exist.') }}</h1>
    </div>
    {% endif %}
</div>
<script>
    var url = "{{ckan_url}}/api/3/action/package_show";
    $.get(url, {id: '{{ckan_pkg_name}}'}, function(data){
            if (data['success'] == true) {
                $("#ckan").show();
                if (data['result']['license_title'] != null) {
                    $("#ckan_license").show();
                }
            }
            });
</script>
{{ helper.broken_image() }}
{{ helper.knob() }}
{% endblock %}
