{% extends "projects/base.html" %}
{% set active_page = "project_settings" %}
{% set active_page_title = _("Project Settings") %}
{% set active_page_subtitle = _("Configure the project.") %}

{% block main_content %}
{{ helper.render_project_sublabel("Settings") }}
<div class="row">
    {% if project %}
    <!-- Project -->
    <div class="span9">
        <h2>{{ _('Project Settings') }}</h2>
        <hr>
        <hr>

        <center>
        <div class="btn-group btn-group-lg" role="group">
            <a type="button" class="btn btn-primary" href="{{ url_for('project.update', short_name = project.short_name) }}"><i class="fa fa-edit fa-white"></i> {{ _('Edit the project details') }}</a>
        </div>
        <div class="btn-group btn-group-lg" role="group">
            <a type="button" class="btn btn-warning" href="{{ url_for('project.task_settings', short_name = project.short_name) }}"><i class="fa fa-wrench fa-white"></i> {{ _('Task Settings') }}</a>
        </div>
        <div class="btn-group btn-group-lg" role="group">
            <a type="button" class="btn btn-danger" href="{{ url_for('project.delete', short_name = project.short_name) }}"><i class="fa fa-trash fa-white"></i> {{ _('Delete the project') }}</a>
        </div>
        <div class="btn-group btn-group-lg" role="group">
            <a type="button" class="btn btn-success" href="{{ url_for('project.new_blogpost', short_name = project.short_name) }}"><i class="fa fa-pencil fa-white"></i> {{ _('Write a blog post') }}</a>
        </div>
        </center>
    </div>
    {% else %}
    <div class="page-header">
        <h1>{{ _('Sorry! This project does not exist.') }}</h1>
    </div>
    {% endif %}
</div>
{{ helper.broken_image() }}
{% endblock %}
