{% extends "projects/base.html" %}
{% set active_page = "manage_tasks" %}
{% set active_page_title = _("Manage Tasks") %}
{% set active_link = "tasks" %}

{% block main_content %}
{{ helper.render_project_sublabel("Tasks") }}
{% if project %}
        <div class="row">
            <div class="span9">
                {{ helper.render_project_title(project, upload_method, subtitle=_('Tasks'))}}
                {% if project.owner_id == current_user.id or (current_user.is_authenticated() and current_user.admin)%}
                <div class="row-fluid">
                    <div id="import_tasks" class="col-md-5 col-sm-5 col-lg-5 well" style="margin-left:20px">
                        <h2><i class="icon-upload"></i> {{_('Import Tasks')}}</h2>
                        <p>{{_('Import tasks from templates, GDrive, or CSV')}}</p>
                        <a href="{{url_for('project.import_task', short_name=project.short_name)}}" class="btn btn-primary">{{_('Import')}} <i class="icon-chevron-right"></i></a>
                    </div>
                    <div id="export_tasks" class="col-md-5 col-sm-5 col-lg-5 well" style="margin-left:20px">
                        <h2><i class="icon-download"></i> {{_('Export Tasks')}}</h2>
                        <p>{{_('Export tasks to JSON, CSV or a CKAN server')}}</p>
                        <a href="{{url_for('project.export_to', short_name=project.short_name)}}" rel="nofollow" class="btn btn-primary">{{_('Export')}} <i class="icon-chevron-right"></i></a>
                    </div>
                </div>
                <div class="row-fluid">
                    <div id="task_presenter" class="col-md-5 col-sm-5 col-lg-5 well" style="margin-left:20px">
                        <h2><i class="icon-edit"></i> {{_('Task Presenter')}}</h2>
                        <p>{{_('Edit the task presenter')}}</p>
                        <a href="{{url_for('project.task_presenter_editor', short_name=project.short_name)}}" class="btn btn-primary">{{_('Editor')}} <i class="icon-chevron-right"></i></a>
                    </div>
                    <div id="task_settings" class="col-md-5 col-sm-5 col-lg-5 well" style="margin-left:20px">
                        <h2><i class="icon-cog"></i> {{_('Settings')}}</h2>
                        <p>{{_('Configure the task scheduler, redundancy, etc.')}}</p>
                        <a href="{{url_for('project.task_settings',
                            short_name=project.short_name)}}" class="btn
                            btn-primary">{{_('Settings')}} <i class="icon-chevron-right"></i></a>
                    </div>
                </div>
                <div class="row-fluid">
                    <div id="task_browse" class="col-md-5 col-sm-5 col-lg-5 well" style="margin-left:20px">
                        <h2><i class="icon-road"></i> {{_('Browse')}}</h2>
                        <p>{{_('Check the status of the tasks')}}</p>
                        <a href="{{url_for('project.tasks_browse',
                            short_name=project.short_name)}}" class="btn btn-primary">{{_('Browse')}} <i class="icon-chevron-right"></i></a>
                    </div>
                    {% if current_user.pro or current_user.admin %}
                    <div id="autoimport_tasks" class="col-md-5 col-sm-5 col-lg-5 well" style="margin-left:20px">
                        <h2><i class="icon-upload"></i> {{_('Auto-import Tasks')}}</h2>
                        <p>{{_('Import tasks regularly and automatically')}}</p>
                        <a href="{{url_for('project.setup_autoimporter', short_name=project.short_name)}}" class="btn btn-primary">{{_('Setup')}} <i class="icon-chevron-right"></i></a>
                    </div>
                    {% endif %}
                </div>
                {% else %}
                <div class="row-fluid">
                    <div id="task_browse" class="col-md-5 col-sm-5 col-lg-5 well" style="margin-left:20px">
                        <h2><i class="icon-road"></i> {{_('Browse')}}</h2>
                        <p>{{_('Check the status of the tasks')}}</p>
                        <a href="{{url_for('project.tasks_browse',
                            short_name=project.short_name)}}" class="btn btn-primary">{{_('Browse')}} <i class="icon-chevron-right"></i></a>
                    </div>
                    <div id="export_tasks" class="col-md-5 col-sm-5 col-lg-5 well" style="margin-left:20px">
                        <h2><i class="icon-download"></i> {{_('Export Tasks')}}</h2>
                        <p>{{_('Export tasks to JSON, CSV or a CKAN server')}}</p>
                        <a href="{{url_for('project.export_to', short_name=project.short_name)}}" rel="nofollow" class="btn btn-primary">{{_('Export')}} <i class="icon-chevron-right"></i></a>
                    </div>
                </div>
                {% endif %}
            </div><!-- span9 -->
        </div>
{% else %}
  <div class="page-header">
      <h1>{{_('Sorry! This project does not exist.')}}.</h1>
  </div>
{% endif %}
{{ helper.broken_image() }}
{{ helper.knob() }}
{% endblock %}
