{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="span12">
        <div class="span4 offset4">
            <h2>{{ _('Just one more step, please') }}</h2>
            <p>{{ _("In order to confirm your identity, we've sent an email to the address you just provided. Please, check it out and click on the link you'll find to create your account at") }} {{ config.BRAND }}.</p>
            <p>{{ _("If you are not receiving the email, please check the junk folder. If it's not there please drop us an email to") }} <a href="mailto:{{contact_email}}">{{ contact_email }}</a>.</p>
            <p>{{ _("In the meantime, you can check some of the amazing") }} <a href="{{url_for('app.index')}}">{{ _('projects') }}</a> {{ _('and contribute to them as anonymous') }}.</p>
        </div>
    </div>
</div>
{% endblock %}
