{% extends "base.html" %}
{% set active_page_title = _("Request a New Password") %}
{% set active_page_subtitle = _("Have you forgotten your password? Request a new one.") %}
{% set page_breadcrumbs = [(_("Sign In"), url_for("account.signin"))] %}
{% from "_formhelpers.html" import geotagx_render_field %}

{% block stylesheet %}
<style>
#password-reset-page {
	padding-top:1em;
	padding-bottom:1em;
}
#could-not-find-email-notification {
	font-weight:700;
	color:#D00;
	margin-bottom:2em;
}
</style>
{% endblock %}


{% block content %}
{% call bootstrap.row(row_id="password-reset-page") %}
{% with message = flash_messages[0] if flash_messages else None %}
{% if message and message[0] == "success" %}
<p>We have sent an email to <strong>{{request.form.email_addr}}</strong> with instructions for resetting your account's password.</p>
{% else %}
<p>{{_("Please enter the email address you used while signing up and we will send you further instructions.")}}</p>
<form id="password-reset-form" method="post" accept-charset="UTF-8" role="form" autocomplete="off">
	{{form.hidden_tag()}}
	<fieldset>
		{{geotagx_render_field(form.email_addr, "email_addr", _("Email Address"), "email", request.form.email_addr)}}
		{% if not form.email_addr.errors and message and message[0] == "error" %}
		<div><p id="could-not-find-email-notification">{{_("We could not find this email address in our system. Are you sure this is the email address you signed up with?")}}</p></div>
		{% endif %}
		<button type="submit" class="btn btn-lg btn-primary call-to-action">{{_("Request New Password")}}</button>
	</fieldset>
</form>
{% endif %}
{% endwith %}
{% endcall %}
{% endblock %}
