{% extends "base.html" %}
{% set active_page = "manage_your_projects" %}
{% set active_page_title = _("Manage Your Projects") %}
{% set active_page_subtitle = _("Create, update or delete your projects.") %}
{% set page_breadcrumbs = [(_("Profile"), url_for("account.profile", name=current_user.name))] %}
{% set active_link = "applications" %}
{% import "account/_helpers.html" as helper %}
{% from "projects/_helpers.html" import broken_image %}
{% from "_helpers.html" import geotagx_render_app_tile %}

{% block content %}
{% call bootstrap.row() %}
<div class="row"><div class="col-xs-12"><h3 class="text-center"><strong style="color:#444e67">Project Status</strong></h3></div></div>
<div class="row portfolio-anchors">
	<div class="col-xs-4 filter active" data-filter="draft published">
		<center><i class="fa fa-bars fa-5x"></i></center>
		<span>All</span>
	</div>
	<div class="col-xs-4 filter" data-filter="draft">
		<center><i class="fa fa-file-text fa-5x"></i></center>
		<span>Draft</span>
	</div>
	<div class="col-xs-4 filter" data-filter="published">
		<center><i class="fa fa-globe fa-5x"></i></center>
		<span>Published</span>
	</div>
</div>
{% endcall %}
{% call bootstrap.row() %}
<div class="row mar-b-30">
	<div id="portfoliolist-three">
		<div class="col-xs-12">
			{% if projects_published or projects_draft %}
				{% if projects_published %}
				{% for app in projects_published %}
					{{ geotagx_render_app_tile(app, upload_method , draft=False) }}
				{% endfor %}
				{% endif %}
				{% if projects_draft %}
				{% for app in projects_draft %}
					{{ geotagx_render_app_tile(app, upload_method , draft=True) }}
				{% endfor %}
				{% endif %}
			{% else %}
			<center>
				<h2>{{ _('You have not created a project') }}</h2>
				<a href="{{url_for('project.new')}}" class="btn btn-primary input-lg">{{ _('Create a Project') }}</a>
			</center>
			{% endif %}
		</div>
	</div>
</div>
{% endcall %}
{% endblock %}


{% block script %}{{broken_image()}}{% endblock %}
