{% extends "base.html" %}
{% set active_page = "profile_settings" %}
{% set active_page_title = _("Profile Settings") %}
{% set active_page_subtitle = _("Manage your profile.") %}
{% set page_breadcrumbs = [(_("Profile"), url_for("account.profile", name=current_user.name))] %}
{% set active_link = "settings" %}
{% import "account/_helpers.html" as helper %}
{% from "projects/_helpers.html" import broken_image %}

{% block stylesheet %}
<link rel="stylesheet" href="{{vendor}}/Jcrop/css/Jcrop.min.css">
{% endblock %}


{% block content %}
{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers.html" import geotagx_render_field , geotagx_render_checkbox , geotagx_render_selectlist %}

<!-- TO-DO :: Handle Form errors properly -->
{% call bootstrap.row() %}
<div class="row">
    <section class="tab wow fadeInLeft animated" data-wow-animation-name="none" style="visibility: visible; -webkit-animation-name: none;">
            <header class="panel-heading tab-bg-dark-navy-blue">
              <ul class="nav nav-tabs nav-justified ">
                <li class="active">
                  <a data-toggle="tab" href="#update_profile">
                    Update Profile
                  </a>
                </li>
               <li class="">
                  <a data-toggle="tab" href="#upload_profile_picture">
                    Update Profile Picture
                  </a>
                </li>
                <li class="">
                  <a data-toggle="tab" href="#change_password">
                    Change Password
                  </a>
                </li>
                <li class="">
                  <a data-toggle="tab" href="#external_services">
                    External Services
                  </a>
                </li>
                <li class="">
                  <a data-toggle="tab" href="#api_key">
                    API Key
                  </a>
                </li>
              </ul>
            </header>
            <div class="panel-body">
              <div class="tab-content tasi-tab">
                <div id="update_profile" class="tab-pane fade active in col-md-4 col-md-offset-4">
                    <form method="post" class="form-horizontal" action="{{ url_for('account.update_profile', name=current_user.name) }}">
                        <fieldset>
                            <center>
                            <h2 {% if form.errors %}name="profile" class="has-error" {%endif%}>Your profile</h2>
                            </center>
                            <center>
                            <i class="fa fa-user big-icon-11"></i>
                            </center>
                        {{ form.id }}
                        {{ form.hidden_tag() }}
                        <h4>Full Name</h4>
                        {{ geotagx_render_field(form.fullname,"fullname", "", "text", current_user.fullname ) }}
                        <h4> User Name </h4>
                        {{ geotagx_render_field(form.name,"name",  current_user.name, "text" , current_user.name) }}
                        <h4> Email </h4>
                        {{ geotagx_render_field(form.email_addr,"email_addr", "", "text", current_user.email_addr) }}
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <center><h4>{{ _('Privacy Mode')}}</h4></center>
                                </div>
                                <div class="col-md-6 class-md-offset-6">
                                    <center>
                                {% if current_user.privacy_mode %}
                                    {{ geotagx_render_checkbox(form.privacy_mode, "privacy_mode" , "checked", "y")  }}
                                {% else %}
                                    {{ geotagx_render_checkbox(form.privacy_mode, "privacy_mode" , "unchecked", "n")  }}
                                {% endif %}
                                    </center>
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <center><h4>{{ _('Get email Notifications')}}</h4></center>
                                </div>
                                <div class="col-md-6 class-md-offset-6">
                                    <center>
                                {% if current_user.subscribed %}
                                    {{ geotagx_render_checkbox(form.subscribed, "subscribed" , "checked", "y")  }}
                                {% else %}
                                    {{ geotagx_render_checkbox(form.subscribed, "subscribed" , "unchecked", "n")  }}
                                {% endif %}
                                    </center>
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <center><h4>{{ _('Locale')}}</h4></center>
                                </div>
                                <div class="col-md-6 class-md-offset-6">
                                    <center>
                                        {{ geotagx_render_selectlist(form.locale, "locale" ,current_user.locale)  }}
                                    </center>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="submit" name='btn' value="Profile" class="btn btn-primary btn-large col-md-12 input-lg" />{{ _('Save the changes') }}</button>
                                    </div>
                                    <div class="col-md-6 class-md-offset-6">
                                        <center>
                                        <a href="{{url_for('account.update_profile', name=current_user.name)}}" class="btn btn-large btn-danger col-md-12 input-lg">{{ _('Cancel') }}</a>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </fieldset>
                    </form>

                </div>
                <div id="upload_profile_picture" class="tab-pane fade col-md-4 col-md-offset-4">
                        <form method="post" class="form-horizontal" action="{{ url_for('account.update_profile', name=current_user.name) }}" enctype="multipart/form-data">
                            <fieldset>
                                <div class="span2 img-polaroid">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <center>
                                    {{ helper.render_user_thumbnail(current_user, upload_method)}}
                                </center>
                                </div>
                                <br/>
                                <input class="form-control input-lg" id="avatar" name="avatar" onchange="previewImage()" type="file">
                                <br/>
                                {{ upload_form.x1 }}
                                {{ upload_form.y1 }}
                                {{ upload_form.x2 }}
                                {{ upload_form.y2 }}
                                <!-- TO-DO : Add image cropper -->
                                <!-- TO-DO : Fix geotagx_render_field helper function to render file uplaod input fields correctly -->
                                <img id="uploadPreview" name="uploadPreview" style="max-width:512px;max-height:512px">
                                <br/><br/>
                                <div class="form-actions">
                                    <button type="submit" name='btn' value="Upload" class="btn btn-primary btn-large col-md-6 col-md-offset-3 input-lg" />{{ _('Upload') }}</button>
                                </div>
                            </fieldset>
                        </form>
                </div>

                <div id="change_password" class="tab-pane fade">

                    <div class="col-md-4 col-md-offset-4">
                        <form method="post" class="form-horizontal" action="{{ url_for('account.update_profile', name=current_user.name) }}">
                                <fieldset>
                                    <center>
                                    <h2 {% if form.errors %} name="password" {%endif%}> Change Your Password </h2>
                                    </center>
                                    <center>
                                    <i class="fa fa-user-secret big-icon-11"></i>
                                    </center>
                                    {{ password_form.id }}
                                    {{ password_form.hidden_tag() }}
                                    {{ geotagx_render_field(password_form.current_password,"current_password", "Current Password", "password" ) }}
                                    {{ geotagx_render_field(password_form.new_password,"new_password", "New Password" , "password" ) }}
                                    {{ geotagx_render_field(password_form.confirm,"confirm", "Confirm New Password", "password" ) }}

                                    <div class="form-actions">

                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-6 ">
                                                    <center>
                                                    <button type="submit" name='btn' value="Password" class="btn btn-primary btn-large input-lg"/> {{ _('Change Password') }} </button>
                                                    </center>
                                                </div>

                                                <div class="col-md-6">
                                                    <center>
                                                        <a href="{{url_for('account.update_profile', name=current_user.name)}}" class="btn btn-large btn-danger col-md-12 input-lg">{{ _('Cancel') }}</a>
                                                    </center>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                        </form>
                    </div>
                </div>
                <div id="external_services" class="tab-pane fade">



                    <div class="col-md-4 col-md-offset-4">
                        <form method="post" class="form-horizontal" action="{{ url_for('account.update_profile', name=current_user.name) }}">
                                <fieldset>
                                    <center>
                                    <h2> CKAN API Key </h2>
                                    </center>

                                    <center>
                                    <i class="fa fa-cogs big-icon-11"></i>
                                    </center>
                                    <br/>
                                    <br/>
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <div class="form-actions">

                                        <div class="container-fluid">
                                            <div class="row">
                                            <div class="col-md-12">
                                                {% if current_user.ckan_api %}
                                                        {{ geotagx_render_field(form.ckan_api,"ckan_api", current_user.ckan_api, "text", current_user.ckan_api) }}
                                                {% else %}
                                                        {{ geotagx_render_field(form.ckan_api,"ckan_api", "Type your CKAN API Key", "text", "") }}
                                                {% endif %}
                                            </div>
                                            </div>
                                            <br/>
                                            <br/>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <center>
                                                    <button type="submit" name='btn' value="External" class="btn btn-primary col-md-12 btn-large input-lg"/> {{ _('Save Changes') }} </button>
                                                    </center>
                                                </div>

                                                <div class="col-md-6">
                                                    <center>
                                                        <a href="{{url_for('account.update_profile', name=current_user.name)}}" class="btn btn-large btn-danger col-md-12 input-lg">{{ _('Cancel') }}</a>
                                                    </center>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                        </form>
                    </div>

                </div>
                <div id="api_key" class="tab-pane fade">

                    <div class="col-md-4 col-md-offset-4">
                        <p class="text-center"><span style="color:#A00;background:#EEE;padding:0.5em;font-weight:700">{{current_user.api_key}}</span></p>
                        <form method="post" class="form-horizontal" action="{{ url_for('account.reset_api_key', name=current_user.name)}}">
                                <fieldset>
                                    <center>
                                    <h2> {{ _('Do you want to reset your personal API Key?') }} </h2>
                                    </center>
                                    <center>
                                    <i class="fa fa-key big-icon-11"></i>
                                    </center>
                                    <br/>
                                    <br/>


                                    <div class="form-actions">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <center>
                                                        <button type="submit" class="btn btn-large btn-success input-lg col-md-12" value="Reset">{{_('Yes')}}</button>
                                                    </center>
                                                </div>

                                                <div class="col-md-6">
                                                    <center>
                                                        <a href="{{ url_for('account.profile', name=current_user.name) }}" class="btn btn-large btn-primary input-lg col-md-12">{{ _('No') }}</a>
                                                    </center>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                        </form>
                    </div>
                </div>
              </div>
            </div>
    </section>
</div>
{% endcall %}
{% endblock %}


{% block script %}
<script src="{{vendor}}/Jcrop/js/Jcrop.min.js"></script>
<script src="{{url_for('static', filename='js/image_crop.js')}}"></script>
{{broken_image()}}
{% endblock %}
