<div class="property gray-bg" id="geotagx_get_started">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 wow fadeInRight animated" data-wow-animation-name="none" style="visibility: visible; -webkit-animation-name: none;">
            <p class="big-icon-3 text-center">
              How do I <strong class="ml-5" style="color:#444e67">get started</strong> ?
            </p>
            <hr>
            <p class="text-center">
            <i class="ml-5">GeoTag-X</i> is still under development, however there are two ways you can volunteer.
              <br/><br/><br/>
            </p>
            <div class="container in-page-link" id="find_photos">
                <div class="row">

                  <div class="col-lg-4 col-sm-4 text-center wow fadeInLeft animated" data-wow-animation-name="none" style="visibility: visible; -webkit-animation-name: none;">
                    <i class="fa fa-binoculars big-icon-15" style="color:#444e67"></i>
                  </div>
                  <div class="col-lg-6 col-sm-6 wow fadeInRight animated" data-wow-animation-name="none" style="visibility: visible; -webkit-animation-name: none;">
                    <p class="big-icon-2 text-center">
                      <strong class="ml-5" style="color:#444e67">Find</strong> Photos
                    </p>
                    <p class="text-justified" style="text-align:justify">

                        Without photos, the applications on this website are not going to give us much information.
                        We need <i class="ml-5">your help</i> to find photos for the different projects that are currently on the website.<br/>
                        To help you do this we are working on an add-on for firefox that will allow you to send photos directly to our server while you are browsing the web<br/><br/>
                        In the meantime...<br/>
                        If you find <i class="ml-5">Flickr albums</i> containing <i class="ml-5">relevant photos</i> send them to us at <a href="mailto:geotag-x@cern.ch">geotag-x@cern.ch</a> and we will load them in for analysis.

                    </p>
                  </div>
                </div>
            </div>
            <hr>
            <div class="container in-page-link" id="analyze_photos">
                <div class="row">
                  <div class="col-lg-6 col-sm-6 col-lg-offset-2 col-sm-offset-2 wow fadeInRight animated text-justify" data-wow-animation-name="none" style="visibility: visible; -webkit-animation-name: none;">
                    <p class="big-icon-2 text-center">
                      <strong class="ml-5" style="color:#444e67">Analyse</strong> Photos
                    </p>
                    <p>

                        Help us extract information from the photos being collected by contributing to the different applications on <i class="ml-5">GeoTag-X</i><br/>
                        It's easy...
                        <ul class="unstyled">
                            <li><i class="fa fa-check fa-lg pr-10"></i>On the homepage choose the project you want to work on.</li>
                            <li><i class="fa fa-check fa-lg pr-10"></i>On the project page, select the application you like and get started!</li>
                        </ul>
                        <!-- TO-DO : Increase readability by including more text coloring and links-->
                         <i class="ml-5">If you are not sure what you are doing</i> Start with the application’s tutorial. And don’t worry if you are not sure about your answers, each photo is presented to at least 30 people and we take the majority answer, so it is ok to make mistakes.
                        <br/><br/>
                         <i class="ml-5">There are lots of resources available on the internet</i> to help you answer the questions. There is no time limit on the applications so you can take time to search for clarification if you are not sure what you are looking at.
                        <br/><br/>
                        What now? <br/>
                        <a href="/#project_grid">Pick a project on the homepage</a> – or – <a href="#find_photos">Find photos</a>

                    </p>
                  </div>
                  <div class="col-lg-4 col-sm-4 text-center wow fadeInLeft animated" data-wow-animation-name="none" style="visibility: visible; -webkit-animation-name: none;">
                    <br/>
                    <i class="fa fa-flask big-icon-20" style="color:#444e67"></i>
                  </div>
                </div>
            </div>
    <hr>
<p>
Remember most of these projects are works in progress so you will probably  <i class="ml-5">find bugs</i> or things that  <i class="ml-5">you don't really like</i>. So we would  <i class="ml-5">love to hear what you think </i>, your feedback helps us to improve GeoTag-X and the projects. You can <a href="https://github.com/geotagx" target="_blank" >post it on <i class="fa fa-github"></i>GitHub</a> or use the <a href="http://tecfalabs.unige.ch/survey/index.php/471228/lang-en" target="_blank">feedback form</a>.
</p>
            <hr>
          </div>
        </div>
      </div>
</div>
