{% extends "base.html" %}
{% set active_page = "search" %}

{% block content %}
    <div class="row">
        <div class="span12">
            <h1>{{ _('Search Results') }}</h1>
            <gcse:searchresults-only></gcse:searchresults-only>
        </div>
    </div>
{% endblock %}
