{% extends "base.html" %}
{% set active_page = "projects"  %}

{% block content %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript">
var project_task_runs = {{task_runs_json | tojson}};
var project_schema = {{geotagx_project_template_schema | tojson}};
</script>
<script type="text/javascript" src="{{url_for('static', filename='geotagx-js/geotagx-visualization.js')}}">
</script>
<h1> {{ _('Task Run Summary') }} </h1>
<div class="row">
  <div class="col-xs-6" id="task_run_visualization">
  </div>
  <div class="col-xs-6">
    <div class="row" id="reference_image_padding"></div>
    <div class="row">
    <center>
      <img id="task_run_visualization_reference_image" src="{{task_info.image_url}}" style="width:100%;padding:30px"></img>
    </center>
    </div>
  </div>

</div>

{% endblock %}
