{% extends "/base.html" %}
{% set active_page = "profile" %}
{% set active_link = "admin" %}
{% import "account/_helpers.html" as helper %}
{% import "projects/_helpers.html" as project_helper %}
{% from "account/_helpers.html" import render_account_local_nav %}
{% from "projects/_helpers.html" import render_project_admin_featured, broken_image %}

{% block content %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<style>
.ct-bar, .ct-line, .ct-point {
    stroke: #8BBF36 !important;

}
</style>
<div class="row">
    <div class="col-md-12">
        <h1><strong>{{ _('Dashboard last 7 days') }}</strong></h1>
    </div>
</div>
{% if wait == False %}
<div class="row">
    <div class="col-md-6">
        <h2>Active users</h2>
        <div id="dashboard_week_users" class="ct-chart ct-perfect-fourth"></div>
        <script>
            var data = {{ active_users_last_week | tojson | safe }};
            var options ={ axisY: {onlyInteger: false}};
            new Chartist.Line('#dashboard_week_users', data, options);
        </script>
    </div>
    <div class="col-md-6">
        <h2>Active anonymous users </h2>
        <div id="dashboard_week_anon"  class="ct-chart ct-perfect-fourth"></div>
        <script>
            var data = {{ active_anon_last_week | tojson | safe }};
            var options ={ axisY: {onlyInteger: false}};
            new Chartist.Line('#dashboard_week_anon', data, options);
        </script>
    </div>
    <div class="col-md-6">
        <h2>New projects: {{new_projects_last_week|count}}</h2>
        <ul>
        {% for project in new_projects_last_week %}
        <li><a href="{{url_for('project.details', short_name=project.short_name)}}">{{project.p_name}}</a> by <a href="{{url_for('account.profile', name=project.u_name)}}">{{project.u_name}}</a> ({{project.email_addr}})</li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Updated projects: {{update_projects_last_week|count}}</h2>
        <ul>
        {% for project in update_projects_last_week %}
        <li><a href="{{url_for('project.details', short_name=project.short_name)}}">{{project.p_name}}</a> by <a href="{{url_for('account.profile', name=project.u_name)}}">{{project.u_name}}</a> ({{project.email_addr}})</li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h2>New tasks</h2>
        <div id="dashboard_week_new_tasks" class="ct-chart ct-perfect-fourth"></div>
        <script>
            var data = {{ new_tasks_week | tojson | safe }};
            var options ={ axisY: {onlyInteger: false}};
            new Chartist.Line('#dashboard_week_new_tasks', data, options);
        </script>
    </div>
    <div class="col-md-6">
        <h2>New Answers</h2>
        <div id="dashboard_week_new_task_runs" class="ct-chart ct-perfect-fourth"></div>
        <script>
            var data = {{ new_task_runs_week | tojson | safe }};
            var options ={ axisY: {onlyInteger: false}};
            new Chartist.Line('#dashboard_week_new_task_runs', data, options);
        </script>
    </div>
    <div class="col-md-6">
        <h2>New Users</h2>
        <div id="dashboard_week_new_users" class="ct-chart ct-perfect-fourth"></div>
        <script>
            var data = {{ new_users_week | tojson | safe }};
            var options ={ axisY: {onlyInteger: false}};
            new Chartist.Line('#dashboard_week_new_users', data, options);
        </script>
    </div>
    <div class="col-md-6">
        <h2>Returning Users</h2>
        <div id="dashboard_week_returning_users" class="ct-chart ct-perfect-fourth"></div>
        <script>
            var data = {{ returning_users_week | tojson | safe }};
            var options ={ axisY: {onlyInteger: false}};
            new Chartist.Bar('#dashboard_week_returning_users', data, options);
        </script>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>{{ _('Recent activity') }}</h2>
        {% if update_feed %}
        <ul class="recent-activity", style="list-style-type:none; padding-left:0px;">
            {% for u in update_feed[0:30] %}
            <li>
                {% if u.action_updated == 'Project' %}
                <p><img class="img-circle" src="{{url_for('static', filename='img/placeholders/project.png')}}" style="max-width:30px;">
                <a href="{{url_for('project.details', short_name=u.short_name)}}">{{u.name }}</a> {{ _('new project created') }} {{u.updated | pretty_date }} </p>
                {% endif %}
                {% if u.action_updated == 'Blog' %}
                <p><img class="img-circle" src="{{project_helper.render_url_thumbnail(u, upload_method)}}" style="max-width:30px;">
                <a href="{{url_for('project.details', short_name=u.short_name)}}">{{u.name}}</a> {{ _('has published a blog post') }} {{u.updated | pretty_date }} </p>
                {% endif %}
                {% if u.action_updated == 'Task' %}
                <p><img class="img-circle" src="{{project_helper.render_url_thumbnail(u, upload_method)}}" style="max-width:30px;">
                <a href="{{url_for('project.details', short_name=u.short_name)}}">{{u.name}}</a> {{ _('has added new tasks') }} {{u.updated | pretty_date}}</p>
                {% endif %}
                {% if u.action_updated == 'TaskCompleted' %}
                <p><img class="img-circle" src="{{project_helper.render_url_thumbnail(u, upload_method)}}" style="max-width:30px;">
                <a href="{{url_for('project.details', short_name=u.short_name)}}">{{u.name}}</a> {{ _('has completed a task') }} {{u.updated | pretty_date}}</p>
                {% endif %}
                {% if u.action_updated == 'UserContribution' %}
                <p>{{ helper.render_avatar(u, upload_method, class='img-circle', width='30px')}}
                <a href="{{url_for('account.profile', name=u.name)}}">{{u.fullname}}</a> {{ _('has contributed to') }}
                <a href="{{url_for('project.details', short_name=u.project_short_name)}}">
                    <span class="hidden-xs">{{u.project_name | truncate(28)}}</span>
                    <span class="visible-xs-fullnames">{{u.project_name | truncate(10)}}</span></a>
                    {{u.updated | pretty_date}}</p>
                {% endif %}
                {% if u.action_updated == 'User' %}
                {{ helper.render_avatar(u, upload_method, class='img-circle', width='30px')}}
                <p><a href="{{url_for('account.profile', name=u.name)}}">{{u.fullname}}</a> {{ _('has joined') }} {{u.updated | pretty_date}}</p>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% elif accounts %}
        <ul class="recent-activity">
            {% for account in accounts %}
            <li>
                {{ helper.render_avatar(account, upload_method, class='img-circle', width='30px') }}
                <p><a href="{{url_for('account.profile', name=account.name)}}">{{account['fullname']}}</a><br />{{ _('has joined') }} {{account.registered_ago}} and has contributed {{ account.task_runs }} tasks</p>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-md-12">
        <h1>No data available. You'll have to wait 24 hours.</h1>
    </div>
</div>
{% endif %}
{{ broken_image() }}
{% endblock %}
