/**
 * This stylesheet is part of the GeoTag-X theme.
 * It contains styles to common page elements, i.e. elements found in more than one page.
 *
 * Copyright (c) 2016 UNITAR/UNOSAT
 *
 * The MIT License (MIT)
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
 * IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
 * DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
 * OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE
 * OR OTHER DEALINGS IN THE SOFTWARE.
 */
body {
	margin:0;
	padding:0;
	font:400 12pt Lato, sans-serif;
	color:#4A4A4A;
	background:#FFF;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
}
a,
a:hover {
	color:#0AF;
}
/**
 * Page.
 */
#page {
	position:relative;
}
/**
 * Page header.
 */
#page-header {
	background:#EEE;
	color:#4A4A4A;
	padding-top:1.15em;
	padding-bottom:1.15em;
	box-shadow:inset 0 -1px 1px 0 #CECECE;
	-moz-box-shadow:inset 0 -1px 1px 0 #CECECE;
	-webkit-box-shadow:inset 0 -1px 1px 0 #CECECE;
}
/**
 * Page body.
 */
#page-body {
	min-height:400px;
	padding-top:1em;
	padding-bottom:1em;
}
/**
 * Page footer.
 */
#page-footer {
	background:#1B1D1F;
}
/**
 * Cookie consent banner.
 */
#cookie-consent {
	position:fixed;
	z-index:1048576;
	width:100%;
	left:0;
	right:0;
	bottom:0;
	padding:1em;
	color:#FFF;
	background:#1B1D1F;
}
#accept-cookies {
	text-transform:uppercase;
}
/**
 * Back-to-top button.
 */
#back-to-top {
	position:fixed;
	z-index:2147483647;
	right:1.15em;
	bottom:1.15em;
	padding:0;
	border:none;
	border-radius:0;
	opacity:0.5;
	visibility:hidden;
	transition:opacity 0.2s ease-in-out;
	-o-transition:opacity 0.2s ease-in-out;
	-ms-transition:opacity 0.2s ease-in-out;
	-moz-transition:opacity 0.2s ease-in-out;
	-webkit-transition:opacity 0.2s ease-in-out;
}
#back-to-top:hover {
	opacity:1;
}
#back-to-top > i.fa {
	font-weight:900;
	font-size:1.8em;
	padding:0.5em;
}
