/**
 * This stylesheet is part of the GeoTag-X theme.
 * It contains project card styles.
 *
 * Copyright (c) 2016 UNITAR/UNOSAT
 *
 * The MIT License (MIT)
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
 * IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
 * DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
 * OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE
 * OR OTHER DEALINGS IN THE SOFTWARE.
 */
.project-card {
	text-align:left;
	overflow:hidden;
	border:1px solid rgba(0, 0, 0, 0);
}
.project-card:hover {
	border-color:#DDD;
}
.project-card > figure.cover {
	position:relative;
}
.project-card > figure.cover > img {
	display:block;
	position:relative;
	width:100%;
	height:auto;
	max-width:100%;
	min-height:100%;
}
.project-card:hover > figure.cover > img {
	transform:scale(1.1, 1.1) translateY(-10%);
	-o-transform:scale(1.1, 1.1) translateY(-10%);
	-ms-transform:scale(1.1, 1.1) translateY(-10%);
	-moz-transform:scale(1.1, 1.1) translateY(-10%);
	-webkit-transform:scale(1.1, 1.1) translateY(-10%);
}
.project-card > figure.cover > .overlay {
	position:absolute;
	z-index:1;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:0;
	padding:0;
	background:rgba(0, 0, 0, 0.5);
}
.project-card:hover > figure.cover > .overlay {
	background:rgba(0, 0, 0, 0.2);
}
.project-card > figure.cover > .overlay > .settings {
	display:none;
	position:absolute;
	top:0;
	right:0;
	margin:0.4em 0.5em;
	color:#FFF;
}
.project-card:hover > figure.cover > .overlay > .settings {
	display:block;
}
.project-card > figure.cover > figcaption {
	position:absolute;
	z-index:2;
	left:0;
	right:0;
	bottom:0;
	margin:0;
	padding:0;
}
.project-card > figure.cover > figcaption > .caption-body {
	position:relative;
	padding:0.5em;
	color:#555;
	background:#FFF;
	transform:translateY(100%);
	-o-transform:translateY(100%);
	-ms-transform:translateY(100%);
	-moz-transform:translateY(100%);
	-webkit-transform:translateY(100%);
}
.project-card:hover > figure.cover > figcaption > .caption-body {
	transform:translateY(0);
	-o-transform:translateY(0);
	-ms-transform:translateY(0);
	-moz-transform:translateY(0);
	-webkit-transform:translateY(0);
}
.project-card > figure.cover > figcaption > .caption-body:after {
	position:absolute;
	left:1.5em;
	bottom:100%;
	width:0;
	height:0;
	content:" ";
	pointer-events:none;
	border:solid transparent;
	border-color:rgba(255, 255, 255, 0);
	border-bottom-color:#FFF;
	border-width:0.5em;
	margin-left:0.5em;
}
.project-card > figure.cover > figcaption > .caption-body > header > .title {
	display:block;
	position:absolute;
	top:0;
	left:0.5em;
	right:0.5em;
	margin:0;
	padding:0 0 0.8em;
	color:#FFF;
	font-size:1em;
	font-weight:700;
	transform:translateY(-100%);
	-o-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	-moz-transform:translateY(-100%);
	-webkit-transform:translateY(-100%);
}
.project-card > figure.cover > figcaption > .caption-body > .description {
	font-size:0.95em;
}
.project-card > figure.cover > figcaption > .caption-body > .description > a {
	font-weight:700;
}
.project-card > figure.cover > figcaption > .caption-body > hr {
	margin:0 0 0.5em;
}
.project-card > figure.cover > figcaption > .caption-body > footer {
	font-size:0.7em;
	font-weight:700;
	letter-spacing:1px;
	text-align:center;
}
.project-card > figure.cover > img,
.project-card > figure.cover > .overlay,
.project-card > figure.cover > .overlay > .settings,
.project-card > figure.cover > figcaption > .caption-body,
.project-card > figure.cover > figcaption > .caption-body > header > .title {
	transition:all ease-in-out 0.2s;
	-o-transition:all ease-in-out 0.2s;
	-ms-transition:all ease-in-out 0.2s;
	-moz-transition:all ease-in-out 0.2s;
	-webkit-transition:all ease-in-out 0.2s;
}
