{% extends "base.html" %}
{% set active_page = "support" %}

{% block content %}
<div class="row">
    <h1>Page not found!</h1>
    <p class="lead">We're sorry, but we can't find the page that you're looking for.</p>
    <a id="btnHome" href="{{url_for('home.home')}}" class="btn btn-large" style="display:none;">
        <i class="icon-home"></i>
        Go Home
    </a>
    <a id="btnBack" href="#" class="btn btn-large" onclick="history.back()" style="display:none;">
        <i class="icon-arrow-left"></i>
        Go Back</a>
</div>
<script>
    console.log(history.length);
    if (history.length > 1) {
        $("#btnBack").show();
    }
    else {
        $("#btnHome").show();
    }

</script>
{% endblock %}
