{% from "_helpers.html" import render_geotagx_project_portfolio_element %}
{% from "_helpers.html" import render_geotagx_project_portfolio_element_with_stats_front_page_tile %}
{% from "projects/_helpers.html" import render_project_image_url %}

<!-- Voodoo for a simple counter :( -->
{% for value in categories_projects.values(): %}

{% endfor %}

{% set category_image_dict = {} %}
{% set category_label_dict = {} %}
{% set count = {'value': 0} %}


{% for _category in categories_projects: %}
    {% if _category not in ['featured', 'underdevelopment'] %}
        {% if count.update({'value': (count.value + categories_projects[_category]|length)}) %} {% endif %}

        {% if categories_projects[_category].__len__() > 0 %}
            {% set _temp = category_image_dict.update( {_category : render_project_image_url(categories_projects[_category][0], upload_method)}) %}
        {% else %}
            {% set _temp = category_image_dict.update( {_category : url_for('static', filename='img/placeholders/project.png') } ) %}
        {% endif %}
    {% endif %}
{% endfor %}

{% for _category in categories %}
    {% if _category['short_name'] not in ['featured', 'underdevelopment'] %}
        {% set _temp = category_label_dict.update({ _category['short_name'] : _category['name']}) %}
    {% endif %}
{% endfor %}
<style>
#project_grid {
    padding-top:70px;
    margin-top:-70px;
}
</style>
<div id="project_grid" class="row">
    <div class="col-xs-12">
        <div class="row"><h3 class="text-center"><strong style="color:#444e67">{{_("Projects")}}</strong></h3></div>
        <div class="row portfolio-anchors">
            <div class="col-md-2 filter active clickable" data-filter="{% for category in category_image_dict.keys() %}{{category}}{% if not loop.last %}{{" "}}{% endif %}{% endfor %}">
                <span class="badge bg-green clickable">{{count.value}}</span>
                <center><img class="portfolio-anchor-thumbnail clickable" src="http://geotagx.org/static/img/default_logo.png"></center>
                <span>All</span>
            </div>
            {% for category in category_image_dict.keys() %}
            <div class="col-md-2 filter portfolio_category_div clickable" data-filter="{{category}}" data-toggle="tooltip" data-placement="middle" title="Double Click to go to Category Page. Single Click to filter projects on this page">
                <span class="badge bg-green clickable">{% if category in categories_projects.keys() %}{{categories_projects[category].__len__()}}{%else%} 0 {% endif %}</span>
                <center><img class="portfolio-anchor-thumbnail clickable" src="{{category_image_dict[category]}}"></center>
                <span>{{category_label_dict[category]}}</span>
            </div>
            {% endfor %}
        </div>
        <hr style="margin-top:2em; margin-bottom:2.5em">
    </div>
</div>
{% set app_list = [] %}
{% set app_list_indices = [] %}
<div class="row mar-b-30">
    <div id="portfoliolist-three">
        <div class="col-md-12">
        <!-- This block collects all the known apps and categories as a list of tuples -->
        {% for category in  categories_projects.keys() %}
            {% if category in category_image_dict.keys() %}
                {% for app in categories_projects[category] %}
                    {% if app_list.append((app,category)) %}{% endif %}
                    {% if app_list_indices.append(app.short_name) %}{% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        <!-- This block randomly shuffles the whole list -->
        <!-- Sadly jinja2 doesnt have a shuffle filter :(, so we hack one using whatever tools we have
        This hack is necessary as we DO-NOT want to touch the code outside the geotagx-theme repository,
        so that we dont have any major conflicts while we regularly upgrade pybosse -->
        {% for i in range(app_list|length) %}
        {% set temp_selection = app_list|random %} <!-- Randomly select one element from the list -->
        {{ render_geotagx_project_portfolio_element_with_stats_front_page_tile(temp_selection[0], temp_selection[1], current_user.admin) }}<!-- Render the element -->
        {% if app_list.pop(app_list_indices.index(temp_selection[0].short_name)) %}{% endif %}<!-- POP out that element from app_list -->
        {% if app_list_indices.pop(app_list_indices.index(temp_selection[0].short_name)) %}{% endif %}<!-- POP out that element from app_list_indices -->
        {% endfor %}
        </div>
    </div>
</div>
<div class="row"><div class="col-xs-12"><div id="disqus_thread" style="display:none"></div></div></div>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
