{% macro render_user_thumbnail(user, upload_method, id, class, style) %}
    {% if user.info.avatar %}
        {% if upload_method == 'rackspace'%}
        <img id="{{id}}" class="{{class}}" style="{{style}}" src="{{ url_for('rackspace', filename=user.info.avatar, container=user.info.container)}}" onerror="imgError(this, 'user');">
        {% else %}
        <img id="{{id}}" class="{{class}}" style="{{style}}" src="{{ url_for('uploads.uploaded_file', filename=(user.info.container + '/' + user.info.avatar))}}" onerror="imgError(this, 'user');">
        {% endif %}
    {% else %}
        <img id="{{id}}" class="{{class}}" style="{{style}}" src="{{ url_for('static', filename='img/placeholders/user.png')}}">
    {% endif %}
{% endmacro %}

{% macro render_geotagx_project_portfolio_element(category, image_link, info_link, tutorial_link, contributing_link, percentage_complete, label) %}
            <div class="portfolio {{category}}" data-cat="{{category}}">
                <div class="portfolio-wrapper">
                    <div class="portfolio-hover">
                        <div class="image-caption">
                            <span style="margin-left:5px">{{percentage_complete}}% Complete</span><br/><br/>
                            <div class="portfolio-tools-strip">

                            <a href="{{info_link}}" class="label label-info icon project-launcher" data-toggle="tooltip" data-placement="right" title="Info"><i class="fa fa-info"></i></a>
                            <a href="{{info_link}}tutorial" class="label label-primary icon project-launcher" data-toggle="tooltip" data-placement="middle" title="Take Tutorial"><i class="fa fa-graduation-cap"></i></a>
                            </div>
                            <br/>
                            <a href="{{contributing_link}}" class="label label-success icon project-launcher fa-3x" data-toggle="tooltip" data-placement="right" title="Start Contributing"><i class="fa fa-play" style="padding:10px"></i></a>

                        </div>
                        <img src="{{image_link}}" style="width:100%" alt="" />
                    </div>
                </div>
                <h4 class="portfolio-label">{{label}}</h4>
            </div>

{% endmacro %}

{% macro render_geotagx_project_portfolio_element_with_stats(category, image_link, info_link, tutorial_link, contributing_link, percentage_complete, label, app, isAdmin) %}

            <div class="portfolio {{category}}" data-cat="{{category}}" onclick="javascript:document.location='{{info_link}}'">
                <div class="portfolio-wrapper">
                    <div class="portfolio-hover">
                        <div class="image-caption">
                            <br/>
                            <div class="portfolio-tools-strip">

                            <a href="{{info_link}}" class="label label-info icon project-launcher" data-toggle="tooltip" data-placement="right" title="Info"><i class="fa fa-info"></i></a>
                            <a href="{{info_link}}tutorial" class="label label-primary icon project-launcher" data-toggle="tooltip" data-placement="middle" title="Take Tutorial"><i class="fa fa-graduation-cap"></i></a>
                            {% if isAdmin %}
                            <a href="{{url_for('project.settings', short_name=app.short_name)}}" class="label label-primary icon" data-toggle="tooltip" data-placement="middle" title="Settings"><i class="fa fa-cog"></i></a>
                            {% endif %}
                            </div>

                            <br/>
                            <a href="{{contributing_link}}" class="label label-success icon project-launcher fa-3x" data-toggle="tooltip" data-placement="right" title="Start Contributing"><i class="fa fa-play" style="padding:10px"></i></a>

                        </div>
                        <div class="text-center col-md-4 portfolio-stat-tile">
                            <div class="portfolio-stat-value">
                            {{ app.n_tasks }}
                            </div>
                            <div class="portfolio-stat-label">
                            <i class="fa fa-tasks"></i> {{_('Tasks')}}
                            </div>
                        </div>
                        <div class="text-center col-md-4 portfolio-stat-tile">
                            <div class="portfolio-stat-value">
                            {{ app.n_volunteers }}
                            </div>
                            <div class="portfolio-stat-label">
                            <i class="fa fa-users"></i>
                            {{_('Volunteers' if app.n_volunteers != 1 else _('Volunteer'))}}
                            </div>
                        </div>
                        <div class="text-center col-md-4 portfolio-stat-tile">
                            <div class="portfolio-stat-value" style="color:#48cfad;">
                            {{ app.overall_progress }} %
                            </div>
                            <div class="portfolio-stat-label">
                            <i class="fa fa-check-square-o"></i> {{_('Complete')}}
                            </div>
                        </div>
                        <img src="{{image_link}}" style="width:100%" alt="" />
                    </div>
                </div>
                <h4 class="portfolio-label">{{label}}</h4>
            </div>

{% endmacro %}

{% macro render_geotagx_project_portfolio_element_with_stats_front_page_tile(app, category, isAdmin, upload_method) %}

            <div class="portfolio {{category}}" data-cat="{{category}}" onclick="javascript:document.location='{{url_for('project.details', short_name=app.short_name)}}'">
                <div class="portfolio-wrapper">
                    <div class="portfolio-hover">
                        <div class="image-caption">
                            <br/><br/>
                            <div class="portfolio-tools-strip">

                            <a href="{{url_for('project.details', short_name=app.short_name)}}" class="label label-info icon project-launcher" data-toggle="tooltip" data-placement="right" title="Info"><i class="fa fa-info"></i></a>
                            <a href="{{url_for('project.details', short_name=app.short_name)}}tutorial" class="label label-primary icon project-launcher" data-toggle="tooltip" data-placement="middle" title="Take Tutorial"><i class="fa fa-graduation-cap"></i></a>
                            {% if isAdmin %}
                            <a href="{{url_for('project.settings', short_name=app.short_name)}}" class="label label-primary icon" data-toggle="tooltip" data-placement="middle" title="Settings"><i class="fa fa-cog"></i></a>
                            {% endif %}
                            </div>

                            <br/>
                            <a href="{{url_for('project.presenter', short_name=app.short_name)}}" class="label label-success icon project-launcher fa-3x" data-toggle="tooltip" data-placement="right" title="Start Contributing"><i class="fa fa-play" style="padding:10px"></i></a>

                        </div>
                        <div class="text-center col-md-4 portfolio-stat-tile">
                            <div class="portfolio-stat-value">
                            {{ app.n_tasks }}
                            </div>
                            <div class="portfolio-stat-label">
                            <i class="fa fa-tasks"></i> {{_('Tasks')}}
                            </div>
                        </div>
                        <div class="text-center col-md-4 portfolio-stat-tile">
                            <div class="portfolio-stat-value">
                            {{ app.n_volunteers }}
                            </div>
                            <div class="portfolio-stat-label">
                            <i class="fa fa-users"></i>
                            {{_('Volunteers' if app.n_volunteers != 1 else _('Volunteer'))}}
                            </div>
                        </div>
                        <div class="text-center col-md-4 portfolio-stat-tile">
                            <div class="portfolio-stat-value" style="color:#48cfad;">
                            {{ app.overall_progress }} %
                            </div>
                            <div class="portfolio-stat-label">
                            <i class="fa fa-check-square-o"></i> {{_('Complete')}}
                            </div>
                        </div>
                        <img src="{{geotagx_app_thumbnail_url(app, upload_method)}}" style="width:100%;height:300px"  alt="" />
                    </div>
                </div>
                <h4 class="portfolio-label">{{app.name}}</h4>
            </div>

{% endmacro %}

<!--TO-DO :: Refactor the project/app tile rendering functions into one single function -->
<!--TO-DO :: Refactor the code to follow one single naming convention from among project/app  -->
{% macro geotagx_render_app_tile(app, upload_method, draft=False) %}
            <div class="portfolio {% if draft %} draft {% else %} published {% endif %} " data-cat="{% if draft %} draft {% else %} published {% endif %} " onclick="javascript:document.location='/project/{{app.short_name}}'">
                <div class="portfolio-wrapper">
                    <div class="portfolio-hover">
                        <div class="image-caption">
                            <span style="margin-left:5px;">{{app.overall_progress}}% Complete</span><br/><br/>
                            <a href="{{url_for('project.details', short_name=app.short_name)}}" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Info"><i class="fa fa-info"></i></a>
                            <a href="{{url_for('project.details', short_name=app.short_name)}}tutorial" class="label label-primary icon project-launcher" data-toggle="tooltip" data-placement="middle" title="Take Tutorial"><i class="fa fa-graduation-cap"></i></a>          {{ current_user }}
                            <a href="{{url_for('project.settings', short_name=app.short_name)}}" class="label label-primary icon" data-toggle="tooltip" data-placement="middle" title="Settings"><i class="fa fa-cog"></i></a>
                            <br/><br/><br/>
                            <a href="{{url_for('project.presenter', short_name=app.short_name)}}" class="fa-3x label label-success icon project-launcher" data-toggle="tooltip" data-placement="right" title="Start Contributing"><i class="fa fa-play" style="padding:10px"></i></a><br/>

                            <h2 style="background-color:#34495e">
                            {% if draft %}
                            {{ _('DRAFT') }}<br/>
                            {% endif %}
                            </h2>
                        </div>
                        <div class="text-center col-md-4 portfolio-stat-tile">
                            <div class="portfolio-stat-value">
                            {{ app.n_tasks }}
                            </div>
                            <div class="portfolio-stat-label">
                            <i class="fa fa-tasks"></i> {{_('Tasks')}}
                            </div>
                        </div>
                        <div class="text-center col-md-4 portfolio-stat-tile">
                            <div class="portfolio-stat-value">
                            {{ app.n_volunteers }}
                            </div>
                            <div class="portfolio-stat-label">
                            <i class="fa fa-users"></i>
                            {{_('Volunteers' if app.n_volunteers != 1 else _('Volunteer'))}}
                            </div>
                        </div>
                        <div class="text-center col-md-4 portfolio-stat-tile">
                            <div class="portfolio-stat-value" style="color:#48cfad;">
                            {{ app.overall_progress }} %
                            </div>
                            <div class="portfolio-stat-label">
                            <i class="fa fa-check-square-o"></i> {{_('Complete')}}
                            </div>
                        </div>
                        <img src="{{ geotagx_app_thumbnail_url(app, upload_method) }}" alt="" width="100%" onerror="imgError(this);"/>

                    </div>
                </div>
                <h4 class="portfolio-label">{{app.name}}</h4>
            </div>
{% endmacro %}


{% macro geotagx_app_thumbnail_url(app, upload_method) %}
	{% if app.info.container %}
	    {% if upload_method == 'rackspace'%}
	    	{{ url_for('rackspace', filename=app.info.thumbnail, container=app.info.container)}}
	    {% else %}
	    	{{ url_for('uploads.uploaded_file', filename=(app.info.container + '/' + app.info.thumbnail))}}
	    {% endif %}
	{% elif app.info.thumbnail %}
	    {{app.info.thumbnail}}
	{% else %}
	    {{url_for('static', filename='img/placeholders/project.png')}}
	{% endif %}
{% endmacro %}
