<header>
	<nav id="navigation" class="navbar navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{url_for('home.home')}}">{{brand}}</a>
				<button id="toggle-navigation" class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navigation-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navigation-collapse" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-left">
					<li{% if page_id == "about"     %} class="active"{% endif %}><a href="{{url_for('home.about')}}">{{_("About")}}</a></li>
					<li{% if page_id == "browse"    %} class="active"{% endif %}><a href="{{url_for('geotagx-project-browser.index')}}">{{_("Projects")}}</a></li>
					<li{% if page_id == "blog"      %} class="active"{% endif %}><a href="{{url_for('geotagx-blog.index')}}">{{_("Blog")}}</a></li>
					<li{% if page_id == "community" %} class="active"{% endif %}><a href="{{url_for('geotagx-community.index')}}">{{_("Community")}}</a></li>
					<li{% if page_id == "feedback"  %} class="active"{% endif %}><a href="{{url_for('geotagx-feedback.index')}}">{{_("Feedback")}}</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if current_user.is_authenticated() %}
					{% from "_helpers/user.html" import render_avatar %}
					<li class="dropdown">
						<a id="user-specific-navigation" role="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="profile-picture-thumbnail">{{render_avatar(current_user)}}</span>{{current_user.fullname | truncate(72, true)}}&nbsp;<span helpers/user"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{url_for('account.profile', name=current_user.name)}}">{{_("View profile")}}</a></li>
							{% if current_user.admin %}
							<li role="separator" class="divider"></li>
							<li><a href="{{url_for('project.new')}}"><strong>{{_("Create a project")}}</strong></a></li>
							<li><a href="{{url_for('account.projects', name=current_user.name)}}">{{_("Manage your projects")}}</a></li>
							<li role="separator" class="divider"></li>
							{% endif %}
							<li><a href="{{url_for('account.update_profile', name=current_user.name)}}">{{_("Settings")}}</a></li>
							{% if current_user.admin %}
							<li><a href="{{url_for('admin.index')}}">{{_("Administrator dashboard")}}</a></li>
							{% endif %}
							<li role="separator" class="divider"></li>
							<li><a href="{{url_for('account.signout')}}">{{_("Sign Out")}}</a></li>
						</ul>
					</li>
					{% else %}
					<li><a role="button" id="sign-in-button" class="btn btn-cta navbar-btn" href="{{url_for('account.signin')}}{% if page_id != 'sign_in' %}{% endif %}"><strong>{{_("Sign In")}}</strong></a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
</header>
