{% set static = url_for("static", filename="geotagx") -%}
{% set css = url_for("static", filename="css") -%}
{% set js = static + "/js" -%}
{% set img = url_for("static", filename="img") -%}
{% set vendor = url_for("static", filename="vendor") -%}
{% set page_id = page_id | default(None) %}
{% set page_title = page_title | default(None) %}
{% set page_subtitle = page_subtitle | default(None) %}
{% set page_share = page_share | default(False) %}
{% set breadcrumbs = breadcrumbs | default(None) %}
{% set user_ip = request["remote_addr"] -%}
{% set user_id = 0 if current_user.is_anonymous() else current_user.id -%}
{% set user_name = "#geotagx-anonymous" if current_user.is_anonymous() else current_user.get_id() -%}
{% set user_locale = "en" if current_user.is_anonymous() else current_user.locale -%}
{% set flash_messages = get_flashed_messages(with_categories=True) -%}
{% import "_helpers/bootstrap.html" as bootstrap %}

<!DOCTYPE html>
<html lang="{{user_locale}}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Crowdsourcing for disaster management.">
		<meta name="keywords" content="crowdsource, crowdsourcing, volunteer, disaster, mapping, humanitarian, relief, efforts, citizen, science, unitar, unosat">
		<meta name="author" content="UNITAR-UNOSAT">
		{%- block meta %}{% endblock -%}

		<link rel="shortcut icon" href="{{img}}/favicon.ico" type="image/x-icon">

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic,300italic,300,100italic,100"> {# TODO Optimize this when design is complete. #}
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{css}}/theme.min.css">
		{%- block stylesheet %}{% endblock -%}

		<!--[if lt IE 9]>
		<script src="{{vendor}}/html5shiv/dist/html5shiv.min.js"></script>
		<script src="{{vendor}}/respond/dest/respond.min.js"></script>
		<![endif]-->
		{% include "_gcs.html" ignore missing %}

		<title>{{brand}}{% if brand != title %}&nbsp;&middot;&nbsp;{{title|safe}}{% endif %}</title>
	</head>
	<body data-user-id="{{user_id}}" data-user-name="{{user_name}}">
		{%- include "_gtm.html" ignore missing -%}
		{%- include "_navigation.html" -%}
		<div id="page">
			{% block header %}
			<header id="page-header" class="container-fluid">
				{% block header_content %}
				<div class="row">
					<div class="col-xs-12 col-lg-10 col-lg-offset-1">
						{% if breadcrumbs %}
						<ol id="page-breadcrumbs" class="list-inline">
							{% for (title, href) in breadcrumbs %}
							<li><a href="{{href}}">{{title}}</a></li>
							{% endfor %}
							<li>{{page_title}}</li>
						</ol>
						{% endif %}
						<h1 id="page-title">{{page_title}}</h1>
						{% if page_subtitle %}<p id="page-subtitle">{{page_subtitle}}</p>{% endif %}
						{% if page_share %}
						<div>
							<a style="color:#00ACED" target="_blank" rel="nofollow noreferrer noopener" class="share-{{type}}" title="Share this {{type}} via Twitter"  data-toggle="tooltip" data-placement="middle" href="http://twitter.com/home?status=Join%20me%20@%20{{target}}"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a>
							<a style="color:#3B5998" target="_blank" rel="nofollow noreferrer noopener" class="share-{{type}}" title="Share this {{type}} via Facebook" data-toggle="tooltip" data-placement="middle" href="http://www.facebook.com/sharer/sharer.php?u={{target}}"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a>
							<a style="color:#DD4B39" target="_blank" rel="nofollow noreferrer noopener" class="share-{{type}}" title="Share this {{type}} via Google+"  data-toggle="tooltip" data-placement="middle" href="https://plus.google.com/share?url={{target}}"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-google-plus fa-stack-1x fa-inverse"></i></span></a>
						</div>
						{% endif %}
					</div>
				</div>
				{% endblock %}
			</header>
			{% endblock %}

			{% block body %}
			<main id="page-body" role="main" class="container-fluid">{% block body_content %}{% endblock %}</main>
			{% endblock %}

			{% block footer %}
			<footer id="page-footer" class="container-fluid">
				{% block footer_content %}{% include "_footer.html" %}{% endblock %}
			</footer>
			{% endblock %}

			{% if show_cookies_warning %}
			<div id="cookie-consent">
				<div class="row">
					<div class="col-xs-12"><p>Cookies help us deliver our services. By using {{brand}}, you agree to our <a href="{{url_for('help.cookies_policy')}}">cookie policy</a>.</p></div>
					<div class="col-xs-12"><button id="accept-cookies" class="btn btn-sm btn-cta">{{_("Accept")}}</button></div>
				</div>
			 </div>
			{% endif %}
			<button id="back-to-top" class="btn btn-cta"><i class="fa fa-long-arrow-up"></i></button>
		</div>
		<script src="//code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script src="{{js}}/base.min.js"></script>
		{%- block script %}{% endblock -%}
	</body>
</html>
